/* ==========================================
   UPVANTA APP LAYOUT
========================================== */


.app-layout{

    display:flex;

    min-height:100vh;

    background:#f8fafc;

}



/* ==========================================
   MAIN CONTENT
========================================== */


.app-content{

    flex:1;

    margin-left:280px;

    padding:30px 38px;

    min-height:100vh;

    overflow-x:hidden;

}