{% if current_user.is_authenticated %}

    {% if current_user.profile_picture and current_user.profile_picture != "default_avatar.webp" %}

    <img
        src="{{ url_for('static', filename='uploads/profile_pictures/' ~ current_user.profile_picture) }}"
        class="{{ avatar_class|default('avatar') }}"
        alt="{{ current_user.full_name }}"
    >

    {% else %}

    <img
        src="{{ url_for('static', filename='images/default_avatar.webp') }}"
        class="{{ avatar_class|default('avatar') }}"
        alt="{{ current_user.full_name }}"
    >

    {% endif %}

{% else %}

<img
    src="{{ url_for('static', filename='images/default_avatar.webp') }}"
    class="{{ avatar_class|default('avatar') }}"
    alt="Default avatar"
>

{% endif %}