.toolbar{

    width:100%;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 40px;

}


.toolbar-left{

    display:flex;

    align-items:center;

}


.toolbar-right{

    display:flex;

    align-items:center;

    margin-left:auto;

}


.toolbar-right a{

    text-decoration:none;

}